# MacOS
.DS_Store

# Binaries and compiled files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

# Test binary, built with `go test -c`
*.test

# Ignore Go build and test artifacts
bin/
pkg/
coverage.out

# Ignore dependency directories
vendor/

# Go modules
go.work
go.work.sum

# Environment
.env
.env.*
!.env.template
!.env.common
!.env.test

# Ignore VS Code and other IDE workspace settings
.vscode/
.idea/

# Ignore OS system files
Thumbs.db

# Debugging
**/__debug*

# Aider
.aider*

# Virtual environments
.venv
